/*------------------------------------*\
    #SLIDES
\*------------------------------------*/

.slides {
    @media screen and #{breakpoint(large)} and (min-height: 500px) {
      position: absolute;
      width: calc(100% - 18rem);
    }
}

.slide {
    background-position: center center;
    background-size: cover;
    border-bottom: 1px solid lighten($red, 10%);
    color: #fff;
    height: 100%;
    min-height: calc(100vh - #{$navbar-height});
    position: relative;

    &:last-child {
        border-bottom: 0;
        min-height: calc(100vh - #{$navbar-height} - #{$footer-height});

        .slide__wrapper {
            min-height: calc(100vh - #{$navbar-height} - #{$footer-height});
        }
    }

    @include breakpoint(large) {
        border-bottom: 0;
    }

    @media #{breakpoint(large)} and (min-height: 420px) {
        height: 100vh;
        padding-top: 0;

        &:last-child {
            height: 100vh;
            padding-top: 0;

            .slide__wrapper {
                min-height: 100vh;
            }
        }
    }
}

    .slide--position-top {
        background-position: top;
    }

    .slide__wrapper {
        height: 100%;
        min-height: calc(100vh - #{$navbar-height});

        @media #{breakpoint(large)} and (min-height: 500px) {
            min-height: 100vh;
        }
    }

    .slide__content {
        @include wf-loading();
        margin-bottom: 4rem;
        margin-top: 4rem;
    }

    .slide__title {
        @include main-heading(#fff);
        margin-bottom: 1rem;
    }

    .slide__description {
        font-size: 1.2rem;
    }

    .slide__link {
        @include alt-heading(1.25rem);
        border-bottom: 2px solid #fff;
        color: #fff;
        display: inline-block;
        margin-top: 2.5rem;
        transition: 200ms;

        &:hover,
        &:focus {
            border-color: $red;
            color: $red;
        }

        &:focus {
            outline: $red thin solid;
        }

        &:hover:focus {
            outline: none;
        }
    }


/**
 * Slides Nav
 */

.slides-nav {
    display: none;

    @media screen and #{breakpoint(large)} and (min-height: 500px) {
        display: block;
        font-family: $font-family-sans;
        list-style-type: none;
        margin-left: 5%;
        padding-left: 0.8522727273rem;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
    }
}

    .slides-nav__item {
        margin-bottom: 25px;
        font-size: 1.1rem;

        &:hover {
            opacity: 1;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .slides-nav__link {
        opacity: 0.3;
        transition: 750ms opacity;

        &.is-current {
            opacity: 1;
            transition: 500ms opacity;
        }

        &:focus {
            outline: none;
        }

        .no-js & {
            opacity: 0.7;
        }
    }
