/*------------------------------------*\
    #TYPE-UTILITIES
\*------------------------------------*/

/**
 * Mixin for heading
 */

@mixin main-heading($text-color) {
    color: $text-color;
    font-family: $font-family-display;
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 3rem;

    @include breakpoint(medium) {
        font-size: 3rem;
    }

    a {
        color: $text-color;

        &:hover {
            border-bottom: 1px solid $text-color;
        }
    }
}


/**
 * Mixin for alt heading
 */

@mixin alt-heading($font-size) {
    font-family: $font-family-sans;
    font-size: $font-size;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}


/**
 * Mixin for custom link underlines
 */

@mixin link-underline($text-color, $background-color, $space) {
    color: $text-color;
    position: relative;
    text-shadow: 1px 1px $background-color, -1px 1px $background-color;
    z-index: 0;

    // fixes issues with links spanning multiple lines
    display: inline-block;

    @if $space {
        padding-bottom: $space;
    }

    &:hover,
    &:hover:focus {
        outline: none;
        color: darken($text-color, 12%);
    }

    &:active,
    &:focus {
        color: $text-color;
        outline: $text-color thin solid;
    }


    &:after {
        border-bottom: 1px solid $text-color;
        bottom: 4px;
        content: '';
        left: 0;
        position: absolute;
        transition: width 200ms ease-out;
        width: 100%;
        z-index: -1;
    }
}
