.nav {
    align-items: center;
    background-color: $navy;
    display: flex;
    font-size: 1.5em;
    height: rem-calc(75);
    padding: 0 2rem;
    position: fixed;
    width: 100%;
    z-index: 2;

    @include breakpoint(large){
        justify-content: center;
        position: relative;
    }
}

.nav-icon {
    cursor: pointer;
    display: block;
    margin-left: auto;

    @include breakpoint(large){
        display: none;
    }
}

.nav-icon__bar {
    background-color: #fff;
    display: block;
    height: 2px;
    margin-bottom: 4px;
    position: relative;
    transition: 200ms;
    width: 20px;

    .nav-icon.is-active & {

        &:nth-child(1) {
            transform: translateY(6px) rotate(45deg);
        }

        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(3) {
            transform: translateY(-6px) rotate(-45deg);
        }
    }
}

.nav-menu {
    background-color: #1a2430;
    display: none;
    height: 100vh;
    opacity: 0;
    padding-top: rem-calc(75);
    position: fixed;
    transition: opacity 200ms;
    width: 100%;
    z-index: 1;

    &.is-available {
        display: block;
    }

    &.is-visible {
        opacity: 1;
    }
}

.nav-menu__item {
    border-bottom: 2px solid $navy;
    font-size: 1.5rem;
    text-align: center;

    a {
        display: block;
        padding: 2rem;
        transition: 200ms;

        &:hover {
            background-color: $red;
        }
    }
}
