// Slide block component

.slides-container {
    background-color: $red;
    
    @include breakpoint(large) {
        height: 100vh;
        margin-left: 18rem;
        position: absolute;
        width: calc(100% - 18rem);
        z-index: 1;
    }
}

.slide {
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    padding-top: 6rem;

    @media #{breakpoint(large)} and (min-height: 500px) {
        height: 100vh;
        padding-top: 0;
    }
}

.slide__content {
    height: 100%;
    min-height: 100vh;
}

// Typography for Slide Blocks

.slide {
    border-bottom: 1px solid lighten($red, 10%);
    color: #fff;

    &:last-child {
        border-bottom: 0;
    }

    @include breakpoint(large) {
        border-bottom: 0;
    }
}

    .slide__title {
        @include main-heading(#fff);
        margin-bottom: 1rem;
    }

    .slide__link {
        @include alt-heading(1.25rem);
        border-bottom: 2px solid #fff;
        color: #fff;
        display: inline-block;
        margin-top: 2.5rem;
        transition: 200ms;

        &:hover {
            border-color: $red;
            color: $red;
        }
    }

.scroll-container {
    position: relative;
}

// Navigation for slides

.slides-navigation {
    display: none;

    @include breakpoint(large) {
        display: block;
        position: fixed;
        top: 50%;
        left: calc(#{$sidebar-width} + 5%);
        transform: translateY(-50%);
    }

    ul {
        list-style-type: none;
        margin: 0;
    }

    li {
        font-family: $font-family-sans;
        margin-bottom: 25px;
        opacity: .3;
        transition: 500ms opacity;
        font-size: 1.1rem;

        &.is-current {
            opacity: 1;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
