// Simple text separator
.text-separator {
    margin-left: .5em;
    margin-right: .5em;

    &:after {
        content: '/';
    }
}


// Typography for articles

.article {
    max-width: $text-width;
}

    .article__byline {
        @include alt-heading(1.1rem);
        color: $navy;

        .post & {
            color: $red;
        }
    }


.article {

    .article__title {
        @include main-heading($navy);
    }

    h2 {
        @include alt-heading(1.5rem);
        margin-top: 3rem;
    }

    a {
        @include link-underline($red, $offwhite, 2px);
    }

    blockquote {
        margin-top: 2rem;
        padding: 1rem 1.5rem;

        p {
            font-size: 1.25em;
            padding: 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    p {
        padding-top: 1rem;
        margin-bottom: 1rem;
    }


    // Styling for Code Examples

    code {
        border-radius: 4px;
    }

    figure.highlight {
        border-radius: 4px;
        background: #fefefe;
        font-size: 0.75rem;
        margin-top: rem-calc(25);
    }
}


// Typography for Excerpts

.article__excerpt {
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid lighten($red, 5%);

    &:last-child {
        border-bottom: 0;
    }

    .article__title {
        @include main-heading(#fff);
        margin-bottom: 0;
    }
}

.block {
    display: block;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}
