// Slide block component

.slides-container {
    @include breakpoint(large) {
        margin-left: 18rem;
        position: absolute;
        width: calc(100% - 18rem);
        z-index: 1;
        height: 100vh;
    }
}

.slide {
    min-height: 100vh;
    background-size: cover;
    padding-top: 6rem;
    padding-bottom: 6rem;

    @media #{breakpoint(large)} and (min-height: 500px) {
        height: 100vh;
    }
}

.slide__content {
    height: 100%;
}

// Typography for Slide Blocks

.slide {
    .article__title {
        @include main-heading(#fff);
        margin-bottom: 1rem;
    }

    p {
        color: #fff;
    }
}

.scroll-container {
    position: relative;
}
