// Mixin for custom link underlines

%link-underline-base {
    position: relative;
    z-index: 0;

    &:after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 4px;
        z-index: -1;
        transition: width 200ms ease-out;
    }
}

@mixin link-underline($text-color, $background-color) {
    @extend %link-underline-base;
    color: $text-color;
    text-shadow: 1px 1px $background-color, -1px 1px $background-color;

    &:hover {
        color: darken($text-color, 10%);
    }

    &:after {
        border-bottom: 1px solid $text-color;
    }
}
