// Variables

$red: #ee6760;
$offwhite: #f2f3f5;
$navy: #273342;

$text-black: #262729;
$text-width: 42rem;

$sidebar-width: 18rem;



// Base layouts

* {
    box-sizing: border-box;
}

body {
    background: $navy;
    
    &.is-unscrollable {
        overflow: hidden !important;
        height: 100% !important;
    }
    
    &.post {
        background: $offwhite;

        p {
            line-height: 1.75;
        }
    }
}

.main {
    background: $offwhite;
    padding-top: 6rem;
    padding-bottom: 6rem;

    @include breakpoint(large) {
        padding-top: 6rem;
        margin-left: $sidebar-width;
    }
}

.main--index {
    background: $red;
}

.header {
    color: #fff;
    font-family: $font-family-sans;
    font-style: normal;
    text-transform: uppercase;

    a {
        color: #fff;
    }

    @include breakpoint(large) {
        height: 100%;
        position: fixed;
        width: $sidebar-width;
    }
}

.brand {
    height: rem-calc(30);
}

.brand__logo {
    display: inline-block;
    height: rem-calc(30);
    max-width: rem-calc(125);
    padding-right: 1rem;
    width: 100%;

    path {
        fill: #fff;
    }

    @include breakpoint(large) {
        padding-right: 0;
    }
}
