// Base layouts

* {
    box-sizing: border-box;
}

body {
    background: $navy;
    color: $navy;
    
    &.is-unscrollable {
        overflow: hidden !important;
        height: 100% !important;
    }
    
    &.post {
        background: $offwhite;

        p {
            line-height: 1.75;
        }
    }
}

::selection {
  background: $offwhite;
  color: $navy;
}

.post ::selection {
  background: $navy;
  color: $offwhite;
  text-shadow: none;
}

.main {
    background: $offwhite;
    padding-bottom: 6rem;
    padding-top: calc(6rem + #{rem-calc(75)});

    @include breakpoint(large) {
        margin-left: $sidebar-width;
        padding-top: 6rem;
    }
}

.main--index {
    background: $red;
}

.header {
    background-color: $navy;
    color: #fff;
    font-family: $font-family-sans;
    font-style: normal;
    position: fixed;
    text-transform: uppercase;
    z-index: 2;

    a {
        color: #fff;
    }

    @include breakpoint(large) {
        height: 100%;
        position: fixed;
        width: $sidebar-width;
    }
}

.brand {
    height: rem-calc(30);
}

.brand__logo {
    display: inline-block;
    height: rem-calc(30);
    max-width: rem-calc(125);
    padding-right: 1rem;
    width: 100%;

    path {
        fill: #fff;
    }

    @include breakpoint(large) {
        padding-right: 0;
    }
}

.footer {
    font-family: $font-family-sans;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    align-items: center;
    background-color: $navy;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
    
    @include breakpoint(large) {
        bottom: 0;
        margin: 2rem;
        padding-bottom: 0;
        position: fixed;
        width: calc(#{$sidebar-width} - 4rem);
        z-index: 2;
    }
}

.footer__byline {
    margin-top: .5rem;
}

.footer__logo {
    display: block;
    height: rem-calc(30);
    opacity: 1;
    transition: opacity 200ms;

    &:hover {
        opacity: .85;
    }
}

.isl-logo {
    height: rem-calc(30);
    margin-left: .75rem;
    width: rem-calc(45);
}
