// Fonts

@font-face {
  font-family: 'conduit-itc';
  src: url('../fonts/conduit-itc.eot'); /* IE9 Compat Modes */
  src: url('../fonts/conduit-itc.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/conduit-itc.woff') format('woff'), /* Modern Browsers */
       url('../fonts/conduit-itc.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/conduit-itc.svg#5ca41e3d31d3674b03dba8a2855abe29') format('svg'); /* Legacy iOS */      
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'playfair-display';
  src: url('../fonts/playfair-display-bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/playfair-display-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/playfair-display-bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/playfair-display-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/playfair-display-bold.svg#798d8a621812f2b0a3cb96fce20cf246') format('svg'); /* Legacy iOS */    
  font-style:   normal;
  font-weight:  700;
}
